<a href="https://colab.research.google.com/github/amit-raj-07/PW_Library/blob/main/EDA_US_VISA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px


import warnings
warnings.filterwarnings('ignore')

plt.style.use("fivethirtyeight")
%matplotlib inline

pd.set_option("display.max_columns", 30)

In [2]:
df = pd.read_csv("us_perm_visas.csv")

In [3]:
df

,add_these_pw_job_title_9089,agent_city,agent_firm_name,agent_state,application_type,case_no,case_number,case_received_date,case_status,class_of_admission,country_of_citizenship,country_of_citzenship,decision_date,employer_address_1,employer_address_2,...,ri_layoff_in_past_six_months,ri_local_ethnic_paper_from,ri_local_ethnic_paper_to,ri_posted_notice_at_worksite,ri_pvt_employment_firm_from,ri_pvt_employment_firm_to,ri_us_workers_considered,schd_a_sheepherder,us_economic_sector,wage_offer_from_9089,wage_offer_to_9089,wage_offer_unit_of_pay_9089,wage_offered_from_9089,wage_offered_to_9089,wage_offered_unit_of_pay_9089
0,NaN,NaN,NaN,NaN,PERM,A-07323-97014,NaN,NaN,Certified,J-1,NaN,ARMENIA,2012-02-01,24 WEST 25 STREET,5TH FLOOR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IT,75629.00,NaN,yr,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,PERM,A-07332-99439,NaN,NaN,Denied,B-2,NaN,POLAND,2011-12-21,200 BROAD STREET,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other Economic Sector,37024.00,NaN,yr,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,PERM,A-07333-99643,NaN,NaN,Certified,H-1B,NaN,INDIA,2011-12-01,1054 TECHNOLOGY PARK DRIVE,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aerospace,47923.00,NaN,yr,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,PERM,A-07339-01930,NaN,NaN,Certified,B-2,NaN,SOUTH KOREA,2011-12-01,33-17 PRINCE ST. 2ND FL,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other Economic Sector,10.97,NaN,hr,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,PERM,A-07345-03565,NaN,NaN,Certified,L-1,NaN,CANADA,2012-01-26,1373 BROADWAY,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Advanced Mfg,100000.00,NaN,yr,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7211,NaN,NaN,NaN,NaN,PERM,A-11200-93805,NaN,NaN,Certified-Expired,H-1B,NaN,NEPAL,2011-10-28,200 1ST ST. SW,PLUMMER 7 (LEGAL DEPARTMENT),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Educational Services,216000.00,NaN,yr,NaN,NaN,NaN
7212,NaN,NaN,NaN,NaN,PERM,A-11200-93806,NaN,NaN,Certified-Expired,H-1B,NaN,INDIA,2011-10-26,"1001 FANNIN, SUITE 4000",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other Economic Sector,104915.00,NaN,yr,NaN,NaN,NaN
7213,NaN,NaN,NaN,NaN,PERM,A-11200-93807,NaN,NaN,Certified,H-1B,NaN,INDIA,2012-03-09,101 HUDSON STREET,SUITE # 3715,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IT,101090.00,NaN,yr,NaN,NaN,NaN
7214,NaN,NaN,NaN,NaN,PERM,A-11200-93809,NaN,NaN,Certified,H-1B,NaN,UNITED KINGDOM,2011-11-08,601 WEST 26TH STREET,SUITE 1820,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Advanced Mfg,83866.00,NaN,yr,NaN,NaN,NaN
7215,NaN,NaN,NaN,NaN,PERM,A-11200-93812,NaN,NaN,Certified-Expired,H-1B,NaN,JORDAN,2011-10-03,4605 LANKERSHIM BLVD.,SUITE 617,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.shape

(7216, 154)

In [5]:
df.dtypes

add_these_pw_job_title_9089      float64
agent_city                       float64
agent_firm_name                  float64
agent_state                      float64
application_type                  object
                                  ...
wage_offer_to_9089               float64
wage_offer_unit_of_pay_9089       object
wage_offered_from_9089           float64
wage_offered_to_9089             float64
wage_offered_unit_of_pay_9089    float64
Length: 154, dtype: object

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7216 entries, 0 to 7215
Columns: 154 entries, add_these_pw_job_title_9089 to wage_offered_unit_of_pay_9089
dtypes: float64(131), object(23)
memory usage: 8.5+ MB

In [9]:
df.isnull().sum()

add_these_pw_job_title_9089      7216
agent_city                       7216
agent_firm_name                  7216
agent_state                      7216
application_type                    0
                                 ...
wage_offer_to_9089               5580
wage_offer_unit_of_pay_9089         1
wage_offered_from_9089           7216
wage_offered_to_9089             7216
wage_offered_unit_of_pay_9089    7216
Length: 154, dtype: int64

In [8]:
df.describe()

,add_these_pw_job_title_9089,agent_city,agent_firm_name,agent_state,case_number,case_received_date,country_of_citizenship,employer_country,employer_decl_info_title,employer_num_employees,employer_phone,employer_phone_ext,employer_postal_code,employer_yr_estab,foreign_worker_info_alt_edu_experience,...,ri_job_search_website_from,ri_job_search_website_to,ri_layoff_in_past_six_months,ri_local_ethnic_paper_from,ri_local_ethnic_paper_to,ri_posted_notice_at_worksite,ri_pvt_employment_firm_from,ri_pvt_employment_firm_to,ri_us_workers_considered,schd_a_sheepherder,wage_offer_from_9089,wage_offer_to_9089,wage_offered_from_9089,wage_offered_to_9089,wage_offered_unit_of_pay_9089
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7214.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.215000e+03,1.636000e+03,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49005.388134,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.831609e+04,9.709680e+04,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34362.393210,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.118016e+05,5.781225e+04,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,646.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.250000e+00,7.250000e+00,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14230.750000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.971200e+04,7.292000e+04,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46202.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.650000e+04,9.543950e+04,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90010.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.655400e+04,1.205000e+05,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99210.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.651400e+06,1.115000e+06,NaN,NaN,NaN

In [10]:
df.columns

Index(['add_these_pw_job_title_9089', 'agent_city', 'agent_firm_name',
       'agent_state', 'application_type', 'case_no', 'case_number',
       'case_received_date', 'case_status', 'class_of_admission',
       ...
       'ri_pvt_employment_firm_to', 'ri_us_workers_considered',
       'schd_a_sheepherder', 'us_economic_sector', 'wage_offer_from_9089',
       'wage_offer_to_9089', 'wage_offer_unit_of_pay_9089',
       'wage_offered_from_9089', 'wage_offered_to_9089',
       'wage_offered_unit_of_pay_9089'],
      dtype='object', length=154)

In [11]:
df

,add_these_pw_job_title_9089,agent_city,agent_firm_name,agent_state,application_type,case_no,case_number,case_received_date,case_status,class_of_admission,country_of_citizenship,country_of_citzenship,decision_date,employer_address_1,employer_address_2,...,ri_layoff_in_past_six_months,ri_local_ethnic_paper_from,ri_local_ethnic_paper_to,ri_posted_notice_at_worksite,ri_pvt_employment_firm_from,ri_pvt_employment_firm_to,ri_us_workers_considered,schd_a_sheepherder,us_economic_sector,wage_offer_from_9089,wage_offer_to_9089,wage_offer_unit_of_pay_9089,wage_offered_from_9089,wage_offered_to_9089,wage_offered_unit_of_pay_9089
0,NaN,NaN,NaN,NaN,PERM,A-07323-97014,NaN,NaN,Certified,J-1,NaN,ARMENIA,2012-02-01,24 WEST 25 STREET,5TH FLOOR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IT,75629.00,NaN,yr,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,PERM,A-07332-99439,NaN,NaN,Denied,B-2,NaN,POLAND,2011-12-21,200 BROAD STREET,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other Economic Sector,37024.00,NaN,yr,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,PERM,A-07333-99643,NaN,NaN,Certified,H-1B,NaN,INDIA,2011-12-01,1054 TECHNOLOGY PARK DRIVE,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aerospace,47923.00,NaN,yr,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,PERM,A-07339-01930,NaN,NaN,Certified,B-2,NaN,SOUTH KOREA,2011-12-01,33-17 PRINCE ST. 2ND FL,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other Economic Sector,10.97,NaN,hr,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,PERM,A-07345-03565,NaN,NaN,Certified,L-1,NaN,CANADA,2012-01-26,1373 BROADWAY,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Advanced Mfg,100000.00,NaN,yr,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7211,NaN,NaN,NaN,NaN,PERM,A-11200-93805,NaN,NaN,Certified-Expired,H-1B,NaN,NEPAL,2011-10-28,200 1ST ST. SW,PLUMMER 7 (LEGAL DEPARTMENT),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Educational Services,216000.00,NaN,yr,NaN,NaN,NaN
7212,NaN,NaN,NaN,NaN,PERM,A-11200-93806,NaN,NaN,Certified-Expired,H-1B,NaN,INDIA,2011-10-26,"1001 FANNIN, SUITE 4000",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other Economic Sector,104915.00,NaN,yr,NaN,NaN,NaN
7213,NaN,NaN,NaN,NaN,PERM,A-11200-93807,NaN,NaN,Certified,H-1B,NaN,INDIA,2012-03-09,101 HUDSON STREET,SUITE # 3715,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IT,101090.00,NaN,yr,NaN,NaN,NaN
7214,NaN,NaN,NaN,NaN,PERM,A-11200-93809,NaN,NaN,Certified,H-1B,NaN,UNITED KINGDOM,2011-11-08,601 WEST 26TH STREET,SUITE 1820,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Advanced Mfg,83866.00,NaN,yr,NaN,NaN,NaN
7215,NaN,NaN,NaN,NaN,PERM,A-11200-93812,NaN,NaN,Certified-Expired,H-1B,NaN,JORDAN,2011-10-03,4605 LANKERSHIM BLVD.,SUITE 617,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df.columns.values

array(['add_these_pw_job_title_9089', 'agent_city', 'agent_firm_name',
       'agent_state', 'application_type', 'case_no', 'case_number',
       'case_received_date', 'case_status', 'class_of_admission',
       'country_of_citizenship', 'country_of_citzenship', 'decision_date',
       'employer_address_1', 'employer_address_2', 'employer_city',
       'employer_country', 'employer_decl_info_title', 'employer_name',
       'employer_num_employees', 'employer_phone', 'employer_phone_ext',
       'employer_postal_code', 'employer_state', 'employer_yr_estab',
       'foreign_worker_info_alt_edu_experience',
       'foreign_worker_info_birth_country', 'foreign_worker_info_city',
       'foreign_worker_info_education',
       'foreign_worker_info_education_other', 'foreign_worker_info_inst',
       'foreign_worker_info_major', 'foreign_worker_info_postal_code',
       'foreign_worker_info_rel_occup_exp',
       'foreign_worker_info_req_experience', 'foreign_worker_info_state',
       'foreign_worker_info_training_comp',
       'foreign_worker_ownership_interest',
       'foreign_worker_yr_rel_edu_completed',
       'fw_info_alt_edu_experience', 'fw_info_birth_country',
       'fw_info_education_other', 'fw_info_postal_code',
       'fw_info_rel_occup_exp', 'fw_info_req_experience',
       'fw_info_training_comp', 'fw_info_yr_rel_edu_completed',
       'fw_ownership_interest', 'ji_foreign_worker_live_on_premises',
       'ji_fw_live_on_premises', 'ji_live_in_dom_svc_contract',
       'ji_live_in_domestic_service',
       'ji_offered_to_sec_j_foreign_worker', 'ji_offered_to_sec_j_fw',
       'job_info_alt_cmb_ed_oth_yrs', 'job_info_alt_combo_ed',
       'job_info_alt_combo_ed_exp', 'job_info_alt_combo_ed_other',
       'job_info_alt_field', 'job_info_alt_field_name',
       'job_info_alt_occ', 'job_info_alt_occ_job_title',
       'job_info_alt_occ_num_months', 'job_info_combo_occupation',
       'job_info_education', 'job_info_education_other',
       'job_info_experience', 'job_info_experience_num_months',
       'job_info_foreign_ed', 'job_info_foreign_lang_req',
       'job_info_job_req_normal', 'job_info_job_title', 'job_info_major',
       'job_info_training', 'job_info_training_field',
       'job_info_training_num_months', 'job_info_work_city',
       'job_info_work_postal_code', 'job_info_work_state',
       'naics_2007_us_code', 'naics_2007_us_title', 'naics_code',
       'naics_title', 'naics_us_code', 'naics_us_code_2007',
       'naics_us_title', 'naics_us_title_2007', 'orig_case_no',
       'orig_file_date', 'preparer_info_emp_completed',
       'preparer_info_title', 'pw_amount_9089', 'pw_determ_date',
       'pw_expire_date', 'pw_job_title_908', 'pw_job_title_9089',
       'pw_level_9089', 'pw_soc_code', 'pw_soc_title',
       'pw_source_name_9089', 'pw_source_name_other_9089', 'pw_track_num',
       'pw_unit_of_pay_9089', 'rec_info_barg_rep_notified',
       'recr_info_barg_rep_notified', 'recr_info_coll_teach_comp_proc',
       'recr_info_coll_univ_teacher', 'recr_info_employer_rec_payment',
       'recr_info_first_ad_start', 'recr_info_job_fair_from',
       'recr_info_job_fair_to', 'recr_info_on_campus_recr_from',
       'recr_info_on_campus_recr_to', 'recr_info_pro_org_advert_from',
       'recr_info_pro_org_advert_to', 'recr_info_prof_org_advert_from',
       'recr_info_prof_org_advert_to', 'recr_info_professional_occ',
       'recr_info_radio_tv_ad_from', 'recr_info_radio_tv_ad_to',
       'recr_info_second_ad_start', 'recr_info_sunday_newspaper',
       'recr_info_swa_job_order_end', 'recr_info_swa_job_order_start',
       'refile', 'ri_1st_ad_newspaper_name', 'ri_2nd_ad_newspaper_name',
       'ri_2nd_ad_newspaper_or_journal', 'ri_campus_placement_from',
       'ri_campus_placement_to', 'ri_coll_tch_basic_process',
       'ri_coll_teach_pro_jnl', 'ri_coll_teach_select_date',
       'ri_employee_referral_prog_from', 'ri_employee_referral_prog_to',
       'ri_employer_web_post_from', 'ri_employer_web_post_to',
       'ri_job_search_website_from', 'ri_job_search_website_to',
       'ri_layoff_in_past_six_months', 'ri_local_ethnic_paper_from',
       'ri_local_ethnic_paper_to', 'ri_posted_notice_at_worksite',
       'ri_pvt_employment_firm_from', 'ri_pvt_employment_firm_to',
       'ri_us_workers_considered', 'schd_a_sheepherder',
       'us_economic_sector', 'wage_offer_from_9089', 'wage_offer_to_9089',
       'wage_offer_unit_of_pay_9089', 'wage_offered_from_9089',
       'wage_offered_to_9089', 'wage_offered_unit_of_pay_9089'],
      dtype=object)

In [13]:
df['case_number']

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
7211   NaN
7212   NaN
7213   NaN
7214   NaN
7215   NaN
Name: case_number, Length: 7216, dtype: float64

In [14]:
df['case_no']

0       A-07323-97014
1       A-07332-99439
2       A-07333-99643
3       A-07339-01930
4       A-07345-03565
            ...
7211    A-11200-93805
7212    A-11200-93806
7213    A-11200-93807
7214    A-11200-93809
7215    A-11200-93812
Name: case_no, Length: 7216, dtype: object

In [15]:
df.drop("case_no", axis = 1, inplace=True)

In [16]:
df

,add_these_pw_job_title_9089,agent_city,agent_firm_name,agent_state,application_type,case_number,case_received_date,case_status,class_of_admission,country_of_citizenship,country_of_citzenship,decision_date,employer_address_1,employer_address_2,employer_city,...,ri_layoff_in_past_six_months,ri_local_ethnic_paper_from,ri_local_ethnic_paper_to,ri_posted_notice_at_worksite,ri_pvt_employment_firm_from,ri_pvt_employment_firm_to,ri_us_workers_considered,schd_a_sheepherder,us_economic_sector,wage_offer_from_9089,wage_offer_to_9089,wage_offer_unit_of_pay_9089,wage_offered_from_9089,wage_offered_to_9089,wage_offered_unit_of_pay_9089
0,NaN,NaN,NaN,NaN,PERM,NaN,NaN,Certified,J-1,NaN,ARMENIA,2012-02-01,24 WEST 25 STREET,5TH FLOOR,NEW YORK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IT,75629.00,NaN,yr,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,PERM,NaN,NaN,Denied,B-2,NaN,POLAND,2011-12-21,200 BROAD STREET,NaN,CARLSTADT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other Economic Sector,37024.00,NaN,yr,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,PERM,NaN,NaN,Certified,H-1B,NaN,INDIA,2011-12-01,1054 TECHNOLOGY PARK DRIVE,NaN,GLEN ALLEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aerospace,47923.00,NaN,yr,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,PERM,NaN,NaN,Certified,B-2,NaN,SOUTH KOREA,2011-12-01,33-17 PRINCE ST. 2ND FL,NaN,FLUSHING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other Economic Sector,10.97,NaN,hr,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,PERM,NaN,NaN,Certified,L-1,NaN,CANADA,2012-01-26,1373 BROADWAY,NaN,ALBANY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Advanced Mfg,100000.00,NaN,yr,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7211,NaN,NaN,NaN,NaN,PERM,NaN,NaN,Certified-Expired,H-1B,NaN,NEPAL,2011-10-28,200 1ST ST. SW,PLUMMER 7 (LEGAL DEPARTMENT),ROCHESTER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Educational Services,216000.00,NaN,yr,NaN,NaN,NaN
7212,NaN,NaN,NaN,NaN,PERM,NaN,NaN,Certified-Expired,H-1B,NaN,INDIA,2011-10-26,"1001 FANNIN, SUITE 4000",NaN,HOUSTON,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other Economic Sector,104915.00,NaN,yr,NaN,NaN,NaN
7213,NaN,NaN,NaN,NaN,PERM,NaN,NaN,Certified,H-1B,NaN,INDIA,2012-03-09,101 HUDSON STREET,SUITE # 3715,JERSEY CITY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IT,101090.00,NaN,yr,NaN,NaN,NaN
7214,NaN,NaN,NaN,NaN,PERM,NaN,NaN,Certified,H-1B,NaN,UNITED KINGDOM,2011-11-08,601 WEST 26TH STREET,SUITE 1820,NEW YORK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Advanced Mfg,83866.00,NaN,yr,NaN,NaN,NaN
7215,NaN,NaN,NaN,NaN,PERM,NaN,NaN,Certified-Expired,H-1B,NaN,JORDAN,2011-10-03,4605 LANKERSHIM BLVD.,SUITE 617,NORTH HOLLYWOOD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df.columns.values

array(['add_these_pw_job_title_9089', 'agent_city', 'agent_firm_name',
       'agent_state', 'application_type', 'case_number',
       'case_received_date', 'case_status', 'class_of_admission',
       'country_of_citizenship', 'country_of_citzenship', 'decision_date',
       'employer_address_1', 'employer_address_2', 'employer_city',
       'employer_country', 'employer_decl_info_title', 'employer_name',
       'employer_num_employees', 'employer_phone', 'employer_phone_ext',
       'employer_postal_code', 'employer_state', 'employer_yr_estab',
       'foreign_worker_info_alt_edu_experience',
       'foreign_worker_info_birth_country', 'foreign_worker_info_city',
       'foreign_worker_info_education',
       'foreign_worker_info_education_other', 'foreign_worker_info_inst',
       'foreign_worker_info_major', 'foreign_worker_info_postal_code',
       'foreign_worker_info_rel_occup_exp',
       'foreign_worker_info_req_experience', 'foreign_worker_info_state',
       'foreign_worker_info_training_comp',
       'foreign_worker_ownership_interest',
       'foreign_worker_yr_rel_edu_completed',
       'fw_info_alt_edu_experience', 'fw_info_birth_country',
       'fw_info_education_other', 'fw_info_postal_code',
       'fw_info_rel_occup_exp', 'fw_info_req_experience',
       'fw_info_training_comp', 'fw_info_yr_rel_edu_completed',
       'fw_ownership_interest', 'ji_foreign_worker_live_on_premises',
       'ji_fw_live_on_premises', 'ji_live_in_dom_svc_contract',
       'ji_live_in_domestic_service',
       'ji_offered_to_sec_j_foreign_worker', 'ji_offered_to_sec_j_fw',
       'job_info_alt_cmb_ed_oth_yrs', 'job_info_alt_combo_ed',
       'job_info_alt_combo_ed_exp', 'job_info_alt_combo_ed_other',
       'job_info_alt_field', 'job_info_alt_field_name',
       'job_info_alt_occ', 'job_info_alt_occ_job_title',
       'job_info_alt_occ_num_months', 'job_info_combo_occupation',
       'job_info_education', 'job_info_education_other',
       'job_info_experience', 'job_info_experience_num_months',
       'job_info_foreign_ed', 'job_info_foreign_lang_req',
       'job_info_job_req_normal', 'job_info_job_title', 'job_info_major',
       'job_info_training', 'job_info_training_field',
       'job_info_training_num_months', 'job_info_work_city',
       'job_info_work_postal_code', 'job_info_work_state',
       'naics_2007_us_code', 'naics_2007_us_title', 'naics_code',
       'naics_title', 'naics_us_code', 'naics_us_code_2007',
       'naics_us_title', 'naics_us_title_2007', 'orig_case_no',
       'orig_file_date', 'preparer_info_emp_completed',
       'preparer_info_title', 'pw_amount_9089', 'pw_determ_date',
       'pw_expire_date', 'pw_job_title_908', 'pw_job_title_9089',
       'pw_level_9089', 'pw_soc_code', 'pw_soc_title',
       'pw_source_name_9089', 'pw_source_name_other_9089', 'pw_track_num',
       'pw_unit_of_pay_9089', 'rec_info_barg_rep_notified',
       'recr_info_barg_rep_notified', 'recr_info_coll_teach_comp_proc',
       'recr_info_coll_univ_teacher', 'recr_info_employer_rec_payment',
       'recr_info_first_ad_start', 'recr_info_job_fair_from',
       'recr_info_job_fair_to', 'recr_info_on_campus_recr_from',
       'recr_info_on_campus_recr_to', 'recr_info_pro_org_advert_from',
       'recr_info_pro_org_advert_to', 'recr_info_prof_org_advert_from',
       'recr_info_prof_org_advert_to', 'recr_info_professional_occ',
       'recr_info_radio_tv_ad_from', 'recr_info_radio_tv_ad_to',
       'recr_info_second_ad_start', 'recr_info_sunday_newspaper',
       'recr_info_swa_job_order_end', 'recr_info_swa_job_order_start',
       'refile', 'ri_1st_ad_newspaper_name', 'ri_2nd_ad_newspaper_name',
       'ri_2nd_ad_newspaper_or_journal', 'ri_campus_placement_from',
       'ri_campus_placement_to', 'ri_coll_tch_basic_process',
       'ri_coll_teach_pro_jnl', 'ri_coll_teach_select_date',
       'ri_employee_referral_prog_from', 'ri_employee_referral_prog_to',
       'ri_employer_web_post_from', 'ri_employer_web_post_to',
       'ri_job_search_website_from', 'ri_job_search_website_to',
       'ri_layoff_in_past_six_months', 'ri_local_ethnic_paper_from',
       'ri_local_ethnic_paper_to', 'ri_posted_notice_at_worksite',
       'ri_pvt_employment_firm_from', 'ri_pvt_employment_firm_to',
       'ri_us_workers_considered', 'schd_a_sheepherder',
       'us_economic_sector', 'wage_offer_from_9089', 'wage_offer_to_9089',
       'wage_offer_unit_of_pay_9089', 'wage_offered_from_9089',
       'wage_offered_to_9089', 'wage_offered_unit_of_pay_9089'],
      dtype=object)

In [18]:
df.case_status

0               Certified
1                  Denied
2               Certified
3               Certified
4               Certified
              ...
7211    Certified-Expired
7212    Certified-Expired
7213            Certified
7214            Certified
7215    Certified-Expired
Name: case_status, Length: 7216, dtype: object

In [20]:
df = df[df["case_status"]!= "Withdrawn"]

In [21]:
df.case_status.unique()

array(['Certified', 'Denied', 'Certified-Expired'], dtype=object)

In [28]:
df.loc[df.case_status == 'Certified-Expired', 'case_status'] = 'Certified'

AttributeError: 'Series' object has no attribute 'case_status'

In [27]:
df.case_status.value_counts()

AttributeError: 'Series' object has no attribute 'case_status'

In [29]:
df.case_status.value_counts()

AttributeError: 'Series' object has no attribute 'case_status'

In [30]:
df.dropna(axis=1, how='all', inplace=True)

ValueError: No axis named 1 for object type Series

In [31]:
df.columns

AttributeError: 'Series' object has no attribute 'columns'